* {
	margin: 0;
	padding: 0;
}

div#container {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-around;
	max-width: 1000px;
	width: 100%;
	height: 400px;
	margin: auto;
	margin-top: 60px;
	border: 2px #888 solid;
	padding: 50px;
}

div#insert {
	line-height: 45px;
	letter-spacing: 1px;
	font-size: 14pt;
}

div#insert input.hexInput {
	border: 0;
	border-bottom: 1px #9C9C9C solid;
}

div#insert button#apply {
	border: 0;
	width: 400px;
	height: 50px;
	border: 1px #000 solid;
	border-radius: 8px;
	font-size: 12pt;
	letter-spacing: 1px;

}

.increment {
	border: 0;
	border-bottom: 1px #9c9c9c solid;
}

div#resultContaine {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

div#resultContainer p {
	font-size: 16pt;
}

div#result {
	border: 2px #9C9C9C solid;
	width: 200px;
	height: 200px;
	margin: auto;
	background: rgb(255, 255, 255);
}

